.message-content-area-border-aimation {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-width: 3px;
    mask-image: linear-gradient(#0000, #0000), linear-gradient(#000, #000);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
    z-index: 2;
    pointer-events: none;
}

.animation-rect-line-block {
    offset-path: rect(0px auto auto 0px round 100px);
    animation: movearound 10s linear 0s infinite;
}

@keyframes movearound {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}